<div class="row">
  <div class="col-md-5">
    <h2>Albums</h2>
    <ul class="list-group">
      <li class="list-group-item"
        *ngFor="let album of albums"
        (click)="selectAlbum(album)"
        [class.active]="album === selectedAlbum">
          <b>{{album.title}} </b>
          <img *ngIf="coverExist(album.cover)" src="/assets/{{album.cover}}" alt="" height="80" width="80" />
          {{album.genre}}
        <div class="pull-right"> 
          
          {{album.release | date:"y-MM-dd"}}
        </div>
        <div class="admin_buttons" *ngIf="userService.checkAccess()">
          <button class="btn btn-danger" *ngIf="album._id" (click)="deleteAlbum(album._id)">Delete</button>
        </div>
      </li>
    </ul>
  </div>
  <div class="col-md-5 col-md-offset-2">
  <song-album-list
  [songs]="songsList">
  </song-album-list>
  </div>
</div>