<div class="container">
    {{diagnostic}}
<h1>Artist Form</h1>
    <form (ngSubmit)="onSubmit()" #artistForm="ngForm">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" 
                    required
                    [(ngModel)]="model.name" name="name">
        </div>
        <div class="form-group">
            <label for="genre">genre</label>
            <input type="text" class="form-control" id="genre" 
                    required
                    [(ngModel)]="model.genre" name="genre">
        </div>
        <button type="submit" class="btn btn-success" [disabled]="!artistForm.form.valid">Submit</button>
        <button type="button" class="btn btn-default" (click)="newArtist(); artistForm.reset()">New Artist</button>
    </form>
</div>