<div class="row">
  <div class="col-md-5">
    <h2>Albums hej</h2>
    <ul class="list-group">
      <li class="list-group-item"
        *ngFor="let album of albums">
          <b>{{album.title}} </b>
          <img src="/assets/"+{{album.cover}} alt="" height="80" width="80">
        <div class="pull-right"> 
          {{album.genre}}
          {{album.release}}
        </div>
      </li>
    </ul>
  </div>
  <div class="col-md-5 col-md-offset-2">
<!-- <album-details
      [album]="selectedAlbum"
      [createHandler]="addAlbum"
      [updateHandler]="updateAlbum"
      [deleteHandler]="deleteAlbum">
    </album-details> -->
  </div>
</div>